<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">


  
  <test  name="Cucumber_LoginTest_Case">
 

<classes>
<class name="com.LoginTestServices.CucumberLoginTestCase"></class>

</classes>
  
  </test> <!-- LoginTest -->
  
  
  
  

  
</suite> <!-- Suite -->
